html{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body{
	background: url(oreor.jpg) no-repeat center center fixed;
	background - size: cover;
}

div{
	width: 90%;
	height: 1200px;
	margin: 0 auto;
	padding: 12px;
	background: rgba(0,0,0,0.4);
}

h1{
	color: #F2F2F2;

}

p{
		color: #F2F2F2;


}

img{
	width: 100%
	max-width: 100%;

}

.article1{

}

.article2{

}

.article3{

}

section{

}